button{
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #17faae;
  color: black;
  border: none;
}

.tab-container{
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.content{
  font-size: larger;
  margin-top: 20px;
}

.active{
  background-color: #011f15;
  color: white;
}