.image{
  width: inherit;
  height: inherit;
}

.container{
  position: relative;
  width: 500px;
  height: 400px;
  margin: 30px auto;
}

.hidden{
  display: none;
}

.right-btn, .left-btn{
  position: absolute;
  top: 50%;
  bottom: 50%;
  color: gray;
  font-size: 2rem;
}

.right-btn{
  right: 1px;
}

.indicator-container{
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  width: fit-content;
  gap: 5px;
  transform: translateX(-50%);
}

.indicator{
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.curr-indicator{
  background-color: gray;
}
